h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    color: red;
  }
 
img {
    border: 1px solid black;
    border-radius: 5%;
}
a:hover {
    color: yellow;
  }
  
  a:visited {
    color: purple;
  }
 

