body {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgb(240, 241, 233) 50%,
    rgb(162, 172, 150) 100%
  );
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

input, button {
  font-family: "Montserrat", sans-serif;
  font-size: 110%;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 8px;
}

input {
  border-radius: 5px;
  height: 2.5em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 100px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 208, 0);
  text-shadow: 3px 3px 3px black;
  letter-spacing: 4px;
  font-weight: 700;
  font-size:larger;
}

nav ul li a:hover {
  color: red;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  background-color: #afe7e9;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: cadetblue;
  font-weight: bold;
  padding: 20px 0;
  z-index: 999;
  box-shadow: 0px 3px 4px #404040;
}

#body-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-border {
  width: 15em;
  border: 1px solid;
  border-radius: 5%;
  border-color: rgba(243, 140, 92, 0.568);
  padding: 25px;
  box-shadow: 0px 5px 5px 12px rgb(187, 195, 211);
}

#login-form input, button{
  box-shadow: 0px 5px 5px #404040;
  margin-top: 1em;
  margin-bottom: 1em;
}

#form-id {
  display: flex;
  flex-direction: column;
}

#form-button {
  margin-top: 10px;
  font-weight: bold;
  background-color: rgb(196, 224, 230);
  height: 2.5em;
  width: 45%;
}

#form-button:hover {
  background-color: rgb(160, 214, 226);
}

#signup-button {
  margin-top: 10px;
  font-weight: bold;
  background-color: rgb(196, 224, 230);
  height: 2.5em;
  width: 45%;
}

#signup-form-button {
  margin-top: 10px;
  font-weight: bold;
  background-color: rgb(196, 224, 230);
  height: 3em;
  width: 45%;
}
#signup-button:hover {
  background-color: rgb(160, 214, 226);
}

#signup-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 20em;
  border: 1px solid;
  border-radius: 5%;
  border-color: rgba(243, 140, 92, 0.568);
  padding: 20px;
  box-shadow: 0px 5px 5px 12px rgb(187, 195, 211);
}

#signup-form {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  text-align: center;
}

#signup-form label,
#signup-form input {
  width: 100%;
  margin-bottom: 15px;
}

#signup-form input {
  box-shadow: 0px 5px 5px #404040;
  border-color: gold;
}

#signup-form button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 3px 4px #404040;
}

#signup-form button:hover {
  background-color: #45a049;
}

#restaurant-show {
  display: flex;
  margin-right: 3em;
  margin-left: 3em;
}

#restaurants-list {
  flex: 1;
}

#restaurants-list button {
  background-color: #8fec9c;
  border-style: none;
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

#restaurants-list button:hover {
  background-color: #45a049;
}

#restaurants-list h1{
  text-shadow: 3px 3px 3px rgb(192, 189, 189);
  letter-spacing: 3px;
}

#otsikko {
  margin: 0;
  font-size: x-large;
  padding-top: 2.5em;
  text-align: center;
  margin-bottom: 5em;
  width: 100%;
}

#otsikko img {
  width: 100%;

  box-shadow: 0px 3px 4px #404040;
}
#map-container {
  flex: 1;
  height: 1000px;
  width: 100%;
  margin-top: 5.1em;
}

#menu-container {
  margin-top: 5px;
  text-align: center;
  border: 3px solid rgb(103, 169, 231);
  width: 100%;
  height: 100%;
  font-weight: bold;
  background-image: url('https://i.pinimg.com/736x/43/65/b8/4365b8a6189066332b7be025b3c20e27.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
}

#menu-container ul {
  list-style-type: none;
  padding: 0;
}

#menu-container li {
  margin: 50px 0;
  position: relative; 
}

#menu-container li::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 33%;
  width: 33%; 
  margin-top: 30px;
  border-bottom: 1px solid black; 
}

#day-select {
  height: 2.7em;
  font-size: medium;
  background-color: #0563af;
  color: white;
  width: 200px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 3px 4px #404040;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  text-align: center;
  padding-bottom: 1px;
  font-style: bold;
}

#switch-div {
  display: flex;
  width: 20%;
}

#switch-div h3 {
  margin-left: 5px;
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
  letter-spacing: 2px;
  align-items: center;
}

#restaurantType {
  height: 2.7em;
  font-size: medium;
  background-color: #0563af;
  color: white;
  width: 200px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 3px 4px #404040;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  text-align: center;
  padding-bottom: 1px;
  font-style: bold;
  margin-left: 5px;
}

#restaurants-table tbody td {
  font-weight: bold;
}

#map {
  width: 100%;
  height: 500px;
  z-index: 1;
  border: 3px solid gold;
}

#search-bar button {
  padding: 13px;
  margin-left: 0.4em;
  background: #e47e7e;
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 5px 3px 4px #404040;
}

#search-bar input {
  margin-left: 3em;
  font-size: 15px;
  box-shadow: 5px 3px 4px #404040;
  width: 25%;
}

.avatar {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 75px 0 25px 0;
}

#avatar-input {
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2em;
}

.profile-container {
  width: 100%;
  height: 600px;
  background-color: rgb(139, 189, 223);
}

.profile-banner {
  width: 100%;
  height: 600px;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-field {
  margin-bottom: 25px;
  margin-top: 25px;
  border-bottom: 1px solid lightgray; 
  padding-bottom: 10px; 
  width: 100%; 
  text-align: center; /
}

.edit-info-btn {
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-info-btn:hover {
  background-color: royalblue;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-self: left;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f37171;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #73ff92;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3894df;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
